html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body .header {
	background: url(img/background.jpg) no-repeat center center ;
	background-size: cover;
	/* position: relative;
	display: table; */
	height: 100%;
	width: 100%;
}
.nav-item {
	margin-left: 10px;
}
.header {
	height: 500px;
}

.header h1 {
	color: white;
	padding-top: 100px;
}

label {
	font-weight: bold;
}

.content {
	padding-top: 100px;
	padding-bottom: 100px;;
}

footer {
	width: 100%;
	background-color: #1C260D;
	padding: 5% 5% 10% 5%;
	color: #CCD3D9;
}

.impressum {
	background-color: white;
	padding: 20px;
}